1 3 * * * cd ~/aibi/daily/standalone/ && /usr/bin/python3 daily.visits.yandex.metrika.py >/dev/null 2>/dev/null
5 1 * * * cd ~/aibi/daily/standalone/ && /usr/bin/python3 daily.orders.bitrix.py >/dev/null 2>/dev/null
10 1 * * * cd ~/aibi/daily/standalone/ && /usr/bin/python3 daily.goods.orders.bitrix.py >/dev/null 2>/dev/null
1 8 * * * cd ~/aibi/daily/standalone/ && /usr/bin/python3 daily.sales.1c.py >/dev/null 2>/dev/null
15 1 * * * cd ~/aibi/daily/standalone/ && /usr/bin/python3 daily.costs.yandex.metrika.py >/dev/null 2>/dev/null
20 1 * * * cd ~/aibi/daily/standalone/ && /usr/bin/python3 daily.costs.yandex.direct.py >/dev/null 2>/dev/null
25 1 * * * cd ~/aibi/initial/ && /usr/bin/python3 utms.yandex.direct.py >/dev/null 2>/dev/null
30 1 * * * cd ~/aibi/initial/ && /usr/bin/python3 costs.vk2023.py >/dev/null 2>/dev/null
35 1 * * * cd ~/aibi/initial/ && /usr/bin/python3 utms.vk2023.py >/dev/null 2>/dev/null
